:root{
    --fontFamily: 'Poppins', sans-serif;
    --boxSizing: border-box;
}
.day-theme{
    --color: #79c2d0;
    --colorInfo: #000000a8;
    --bgColor: var(--color);
    --bgImage: url('../img/daybg.jpg');
}
.night-theme{
    --color: #081f37;
    --colorInfo: #ffffffb9;
    --bgColor: var(--color);
    --bgImage: url('../img/nightbg.jpg');
}
